@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainContent
{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
}

.mainImage
{
    width: 50%;
    height: 20%;
    border-radius: 60rem;
    margin-top: 2rem;
}

.textContent
{   
    width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* gap: 8rem; */
    font-size: 30px;
    align-items: center;
    
}

.textContent h1{
    font-family: 'Homemade Apple', cursive;
}

.textContent p{
    font-family: 'Sofia Sans Condensed', sans-serif;

}
